/* aspect ratio = 2:3 */

html,
body {
  margin: 0;
  padding: 0;
  background: black;
}

:root {
  --white: #ffffff;
  --red: #fc3e32;
  --green: #007e39;
  --flag-height: 150px;
}

.flag-madagascar {
  height: var(--flag-height);
  width: calc(var(--flag-height) * 3 / 2);
  margin: 2rem auto;
  display: grid;
  grid-template-areas:
    "w i i"
    "w i i";
}

.inner-stripe {
  grid-area: i;
  display: grid;
}

.white {
  grid-area: w;
  background-color: var(--white);
}
.red {
  background-color: var(--red);
}
.green {
  background-color: var(--green);
}
