html,
body {
  margin: 0;
  padding: 0;
  background-color: #0d1116;
}

:root {
  --graph-bg: #000;
  --default-square-bg: #161b22;
  --level3: darkblue;
  --level5: blue;
  --level10: lightskyblue;
  --square-size: 1rem;
}

.graph-container {
  padding: 1rem;
  background-color: var(--graph-bg);
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.graph {
  display: grid;
  grid-template-columns: repeat(52, 1fr);
  grid-template-rows: repeat(7, 1fr);
  margin: auto;
}

.graph ul {
  list-style-type: none;
  padding: 0;
}

.square {
  width: var(--square-size);
  height: var(--square-size);
  background-color: var(--default-square-bg);
  border-radius: 4px;
  margin: 2px;
}

.square[data-value="3"] {
  background-color: var(--level3);
}

.square[data-value="5"] {
  background-color: var(--level5);
}

.square[data-value="10"] {
  background-color: var(--level10);
}
